@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #7da02e;
}

.background_download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.centered_container {
  text-align: center;
  background-image: url("../img/klima\ main\ bg.png"); 
  background-size: cover; 
  background-position: center;
  margin-top: -10%;
  height: 200vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.profile {
    position: absolute;
    z-index: 0;
    margin-left: 90%;
    margin-top: 2%;
}

.profile_icon {
    width: 100px;
}

.title_img {
  margin-top: -30%;
  width: 400px;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

/*download button*/
.dl_button {
  margin-top: 15%;
  border: none; 
  background: transparent; 
  cursor: pointer;
  outline: none; 
  position: relative; 
  z-index: 3;
}

.button_img {
  width: 300px; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.dl_button:hover .button_img {
  transform: scale(1.1);
}

.main_container {
  min-height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  z-index: 1;
}

/* HOMEPAGE - Game info */

.game_info {
  text-align: center;  
  margin-top: 2%;
  padding: 300px 300px; 
  border-radius: 10px; 
  width: 100vw;  
}

.game_title {
  color: #197134;
  font-size: 100px;
  margin-bottom: 5%; 
}

.game_description {
  color: #FCF9C6;
  font-size: 30px;
  line-height: 2; 
  padding-left: 200px;
  padding-right: 200px;
}

/* HOMEPAGE - About us */

.about_us {
  margin-top: 2%;
  padding: 20px 20px;
  width: 100vw;  
  text-align: center;
  background-color: #18161634;
}

.section_title {
  margin-top: 5%;
  font-size: 100px;
  margin-bottom: 100px;
  color: #181616;
}

.developer_profiles {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.developer_card {
  width: 450px;
  margin-bottom: 5%;
  text-align: center;
  background: #FCF9C6;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.developer_photo {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.developer_name {
  color: #424D0C;
  font-size: 40px;
  margin-bottom: 5%;
  font-weight: bold;
}

.developer_role {
  font-weight: 500;
  font-size: 20px;
  color: #666;
}

/* HOMEPAGE - Partners */

.gp_link {
  color: #197134;
}

.gp_link:hover {
  color: #7da02e;
}

.partners_section {
  margin-top: 10%;
  margin-bottom: 20%;
  padding: 40px 0;
  text-align: center;
}

.partner_card {
  width: 1500px;
  margin: 0 auto;
  padding: 150px;
  background: #E0DECA;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.partner_logo {
  width: 800px;
  height: auto;
  margin-bottom: 5%;
}

.partner_info {
  font-size: 35px;
  color: #333;
}

/* FOOTER */

.footer_link {
  margin: 0 10px;
  color: #FFFFFF; 
  text-decoration: none;
}

.footer_link:hover {
  text-decoration: underline;
}

.hfooter {
  background-color: #181616;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  margin-top: auto;
}

.hfooter_container {
  max-width: 1200px;
  margin: 0 auto;
}

.hfooter_copy {
  margin-top: 10%;
  margin-bottom: 2%;
  color: white;
  font-weight: bold;
}

/* LOGOS */
.bottom_left {
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 70px; 
  height: 50px;
}

.bottom_right, .bottom_mid {
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 100p; 
  height: 50px;
}

.bottom_left, .bottom_right {
  margin: 10px;
}

/* MODAL */
.hmodal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.hmodal_content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
  height: 90%; 
  position: relative;
  line-height: 2;
  display: flex; 
  flex-direction: column; 
}

.scrollable_content {
  overflow-y: auto;
  flex-grow: 1; 
  padding-right: 10px; 
  margin-bottom: 20px;
  text-align: left;
}

.close {
  position: absolute;
  top: -25px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
}
